
# macOS
.DS_Store

# Archivos temporales
*.xlsx
*.log
__pycache__/
.env
split_temp/
~$*
# Entornos Python
env/
.venv/
.python-version

# Salidas del procesamiento
output_docai/

# Datos locales de prueba
facturas parra prueba/

